[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Live GPS tracking and location finder
[access "refs/*"]
	owner = group user/pmcgrath1
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pmcgrath1
	label-Verified = -1..+1 group user/pmcgrath1
	push = group user/pmcgrath1
	read = group user/pmcgrath1
	rebase = group user/pmcgrath1
	removeReviewer = group user/pmcgrath1
	submit = group user/pmcgrath1
[access "refs/heads/*"]
	create = group user/pmcgrath1
	push = +force group user/pmcgrath1
	pushMerge = group user/pmcgrath1
	read = group user/pmcgrath1
[access "refs/tags/*"]
	push = group user/pmcgrath1
	push = +force group user/pmcgrath1
